@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes heart {
  0% {
    font-weight: bold;
    opacity: 0;
  }
  50% {
    font-weight: bold;
    color: #FF79DA;
    opacity: 0.5;
  }
  100% {
    font-weight: bold;
    color: #9356DC;
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    font-weight: bold;
    opacity: 0;
  }
  50% {
    font-weight: bold;
    color: #FF79DA;
    opacity: 0.5;
  }
  100% {
    font-weight: bold;
    color: #9356DC;
    opacity: 1;
  }
}

h2 {
  font-size: 25px;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 70px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px #717D7E;
          box-shadow: 0 0 10px #717D7E;
}

header img {
  width: 200px;
  margin-top: 20px;
}

.local {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-weight: bold;
  background-color: rgba(198, 198, 198, 0.4);
}

.local__icon {
  text-align: center;
  padding: 12px;
  width: 30px;
  font-size: 20px;
}

.description {
  margin: auto;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

.description h2 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

.description p {
  font-size: 18px;
  text-align: center;
}

.description .btn-description {
  width: 220px;
  height: 50px;
  display: block;
  margin: auto;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  font-size: 16px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.description .btn-description:hover {
  background-color: #FF79DA;
}

.fonction {
  margin: 50px 20px;
}

.fonction ul {
  list-style: none;
  padding: 0;
}

.fonction li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonction__number {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  margin-bottom: 30px;
  z-index: 2;
}

.fonction__card {
  width: 300px;
  height: 70px;
  line-height: 70px;
  -webkit-box-shadow: 0 5px 7px #717D7E;
          box-shadow: 0 5px 7px #717D7E;
  border-radius: 20px;
  margin-left: -10px;
  margin-bottom: 30px;
  padding-left: 30px;
  z-index: 1;
  font-weight: bold;
}

.fonction__icon {
  color: grey;
  margin-right: 40px;
  font-size: 20px;
}

.fonction__icon:hover {
  color: #9356DC;
}

.restaurant {
  width: 100%;
}

.restaurant h2 {
  margin-left: 20px;
}

.restaurant__card {
  position: relative;
  width: 350px;
  height: 260px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 7px #717D7E;
          box-shadow: 0 5px 7px #717D7E;
  margin: auto;
  margin-bottom: 30px;
}

.restaurant__card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 20px 20px 0 0;
}

.restaurant__card .new {
  position: absolute;
  -webkit-transform: translateY(-190px);
          transform: translateY(-190px);
  margin-left: 235px;
  padding: 5px 10px;
  border-radius: 3px;
  color: green;
  background-color: #99E2D0;
  font-size: 20px;
}

.restaurant__card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__card__text h3, .restaurant__card__text p {
  margin: 10px 0 5px 10px;
}

.restaurant__card__text .iheart {
  width: 25px;
  font-size: 30px;
  padding-top: 20px;
  padding-right: 30px;
}

.restaurant__card__text .iheart:hover::before {
  -webkit-animation-name: heart;
          animation-name: heart;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

footer {
  width: 100%;
  background-color: #3B3B3B;
  color: white;
}

footer .title {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */