$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-shadow: #717D7E;
@mixin icon-size {
    font-size: 25px;
}

body{
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 80px;
    text-align: center;
    box-shadow:0 0 15px $color-shadow;
}
header img{
    width: 200px;
    margin-top: 30px;
}
.local{
    justify-content: center;
    display: flex;
    margin: auto;
    font-weight: bold;
        &__icon{
            text-align: center;
            padding: 12px;
            width: 30px;
            @include icon-size;
        }
}
img{
    width: 200px;
}