@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-shadow: #717D7E;
$color-footer: #3B3B3B;
@mixin icon-size {
    font-size: 20px;
}
@mixin color-btn {
    background-image: linear-gradient(to top, $color-primary, $color-secondary);
}
@mixin btn {
    display: block;
    margin: auto;
    border-radius: 50px;
    box-shadow: 2px 1px 10px -3px black;
    @include color-btn;
    color: white;
    font-size: 16px;
    opacity: 1;
    transition: all 500ms;
    &:hover{
        opacity: 0.7;
        box-shadow: 2px 1px 20px -3px black;
    }
}
@keyframes heart{
    0%{
        transform: scaleY(0);
        font-weight: bold;
        opacity: 0;
    }
    50%{
        transform: scaleY(0.5);
        font-weight: bold;
        color: $color-secondary;
        opacity: 0.5;
    }
    100%{
        font-weight: bold;
        color: $color-primary;
        opacity: 1;
        transform: scaleY(1);
    }
}
h2{
    font-size: 25px;
}

body{
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
header{
    height: 70px;
    text-align: center;
    box-shadow:0 0 10px $color-shadow;
}
header img{
    width: 200px;
    margin-top: 20px;
}
.local{
    justify-content: center;
    display: flex;
    margin: auto;
    font-weight: bold;
    background-color: rgba($color: #c6c6c6, $alpha: 0.4); 
        &__icon{
            text-align: center;
            padding: 12px;
            width: 30px;
            @include icon-size;
        }
}
.description{
    margin: auto;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    h2{
        margin: 0;
        padding-top: 50px;
        text-align: center;
    }
    p{
        font-size: 18px;
        text-align: center;
    }
    .btn-description{
        width: 220px;
        height: 50px;
        @include btn;
    }
}
.fonction{
    margin: 50px 20px;
    ul{
        list-style: none;
        padding: 0;
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__number{
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
        margin-bottom: 30px;
        z-index: 2;
    }
    &__card{
        width: 300px;
        height: 70px;
        line-height: 70px;
        box-shadow: 0 5px 7px $color-shadow;
        border-radius: 20px;
        margin-left: -10px;
        margin-bottom: 30px;
        padding-left: 30px;
        z-index: 1;
        font-weight: bold;
        &:hover > i{
            color: $color-primary;
        }
    }
    &__icon{
        color: grey;
        margin-right: 40px;
        @include icon-size;
    }
}
.restaurant{
    width: 100%;
    h2{
        margin-left: 20px;
    }
    &__card{
        position: relative;
        width: 350px;
        height: 260px;
        border-radius: 20px;
        box-shadow: 0 5px 7px $color-shadow ;
        margin: auto;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            object-position: bottom;
            border-radius: 20px 20px 0 0;
        }
        .new{
            position: absolute;
            transform: translateY(-190px);
            margin-left: 235px;
            padding: 5px 10px;
            border-radius: 3px;
            color: green;
            background-color: $color-tertiary;
            font-size: 20px;
        }
        &__text{
            display: flex;
            justify-content: space-between;
            h3, p{
                margin: 10px 0 5px 10px;
            }
            .iheart{
                width: 25px;
                font-size: 30px;
                padding-top: 20px;
                padding-right: 30px;
                &:hover::before{
                    animation-name: heart;
                    animation-duration: 2000ms;
                }
            }
        }
    }
}
footer{
    height: 220px;
    background-color: $color-footer;
    color: white;
    padding-left: 30px;
    line-height: 15px;
    .title{
        font-family: 'Shrikhand', cursive;
        font-size: 25px;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    i{
        margin-right: 10px;
    }
}


