@keyframes heartfull {
    0%{
        @include heartfull-color;
        opacity: 0;
    }
    25%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 0.75;
        transform: scale(0.25);
    }
    40%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 1;
        transform: scale(0.5);
    }
    50%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 1;
        transform: scale(0.75);
    }
    60%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 1;
        transform: scale(1);
    }
    70%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 0.8;
        transform: scale(1.3);
    }
    75%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 0.6;
        transform: scale(1.5);
    }
    80%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 0.4;
        transform: scale(1.7);
    }
    90%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 0.1;
        transform: scale(1.9 );
    }
    100%{
        font-weight: bold;
        @include heartfull-color;
        opacity: 1;
        transform: scale(1);
    }
}