.e_1{
    @include apparition;
    animation-delay: 2.6s;
}
.e_2{
    @include apparition;
    animation-delay: 2.8s;  
}
.e_3{
    @include apparition;
    animation-delay: 3s;
}
.e_4{
    @include apparition;
    animation-delay: 3.2s
}
.p_1{
    @include apparition;
    animation-delay: 3.4s;
}
.p_2{
    @include apparition;
    animation-delay: 3.6s;
}
.p_3{
    @include apparition;
    animation-delay: 3.8s;
}
.d_1{
    @include apparition;
    animation-delay: 4.2s;
}
.d_2{
    @include apparition;
    animation-delay: 4.4s;
}
.d_3{
    @include apparition;
    animation-delay: 4.6s;
}