body{
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h4{
    margin: 10px 0 0 10px;
    font-size: 18px;
}
.href-style{
    text-decoration: none;
    color: black;
}