.local{
    height: 50px;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
    font-weight: bold;
    background-color: rgba($color: #c6c6c6, $alpha: 0.4); 
        &__icon{
            text-align: center;
            width: 30px;
            @include icon-size;
        }
        &__search{
            padding-left: 10px;
            height: 40px;
            width: 180px;
            font-size: 18px;
            font-weight: bold;
            color: black;
            background-color: transparent;
        }
}